.root {
  display: flex;
  align-items: center;
  gap: 16px;
}

.card {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;

  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8px 16px;
  gap: 8px;
  min-height: 120px;
  min-width: 230px;

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 200px;
    min-height: 100px;
    max-height: 50px;
  }

  div {
    margin-top: 8px;

    height: 100%;
    justify-content: flex-end;
  }
}
