.root {
  padding: 20px;

  width: auto;

  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  h1 {
    font-size: 60px;
  }

  &.right {

    .main {
      transform: translateX(-50%);
    }
  }
}

.main {
  width: 200vw;
  display: inline-block;
  position: relative;
  transition: all 0.5s;
}
