.root {
  padding: 20px;

  height: 100%;
  width: auto;

  display: flex;
  flex-direction: column;
  overflow: hidden;

  h1 {
    font-size: 60px;
  }
}

.main {
  width: 200vw;
  height: 100%;
  display: inline-block;
  position: relative;
  transition: all 0.5s;

  &.right {
    transform: translateX(-50%);
  }
}