.root {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 450px;
  background-color: #fff;

  border-radius: 8px;
  transition: all 0.5s;
  cursor: pointer;
  display: block; 
  text-decoration: none;
  color: black;

  &.active {
    .description {
      overflow-y: auto;
      transition: all 0.5s;
      max-height: 200px;
    }
  }

  @media (max-width: 400px) {
    width: 320px;
  }
}

.img {
  border-bottom: 1px solid #e3e4e9;

  position: relative;
  padding: 8px;
  min-height: 200px;
  // border-radius: 12px;

  img {
    border-radius: 12px;
    object-fit: cover;
    object-position: top;
  }
}

.name {
  font-size: 24px;
  font-weight: bold;
  padding: 12px;
}

.body {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.description {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s;
  line-height: 1.2rem;
}

.linkWrapper {
  padding: 12px;
  border-top: 1px solid #e3e4e9;

  a {
    color: black;
  }
}
