.root {
  // height: 100%;
  width: 100%;
  margin-top: 20px;

  h1 {
    padding-left: 20px;
    font-size: 32px;
    font-weight: bold;
  }
}

.list {
  margin-top: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 32px;

  padding-bottom: 40px;
}
