@keyframes shake {
  0%,
  20%,
  40%,
  60%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50% {
    transform: translateX(5px);
  }
}

.divider {
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  cursor: pointer;
  z-index: 2;
  display: flex;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  svg {
    animation: shake 4s infinite;
    width: 24px;
    height: 24px;
  }
}
