.root {
  position: relative;
  height: 100%;
  padding: 10px;
  padding-bottom: 0;
  overflow: hidden;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;

  @media (min-width: 1200px) {
    position: absolute;
    top: 30%;
    left: 30%;
  }
}

.title {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 92px;
  }

  h3 {
    font-size: 52px;
    opacity: 0.8;
  }

  h4 {
    font-size: 48px;
    opacity: 0.6;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 38px;
    }

    h3 {
      font-size: 28px;
      opacity: 0.8;
    }

    h4 {
      font-size: 24px;
      opacity: 0.6;
    }
  }
}

.me {
  width: auto;
  height: 100%;
  align-self: flex-end;

  filter: drop-shadow(10px 10px rgba(240, 46, 170, 0.4))
    drop-shadow(20px 20px rgba(240, 46, 170, 0.3))
    drop-shadow(40px 40px rgba(240, 46, 170, 0.1))
    drop-shadow(50px 50px rgba(240, 46, 170, 0.05));
  // filter: drop-shadow(10px 10px 4px #4444dd) drop-shadow(20px 10px 4px black);

  img {
    width: auto;
    height: 100%;
  }

  // @media (max-width: 768px) {
  //   right: auto;
  // }
}

.layoutRoot {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  height: calc(100vh - 70px);
}

.fullName {
  font-weight: 500;
}

.name {
  margin-left: -8px;
}