.root {
  position: relative;
  height: 100%;
  padding: 10px;
  padding-bottom: 0;
  overflow: hidden;

  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.title {
  margin-bottom: 80px;

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 34px;
    opacity: 0.6;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 20px;
    }
  }
}

.me {
  width: auto;
  height: 100%;
  align-self: flex-end;

  filter: drop-shadow(10px 10px rgba(240, 46, 170, 0.4))
    drop-shadow(20px 20px rgba(240, 46, 170, 0.3))
    drop-shadow(40px 40px rgba(240, 46, 170, 0.1))
    drop-shadow(50px 50px rgba(240, 46, 170, 0.05));
  // filter: drop-shadow(10px 10px 4px #4444dd) drop-shadow(20px 10px 4px black);

  img {
    width: auto;
    height: 100%;
  }

  // @media (max-width: 768px) {
  //   right: auto;
  // }
}

.layoutRoot {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  height: calc(100vh - 70px);
}
