.experienceContainer {
  height: 100%;
  width: calc(50% - 70px);
  float: left;
  height: 100%;

  h2 {
    font-size: 32px;
    margin-bottom: 24px;
    font-weight: bold;
  }

  .experience {
    font-size: 18px;
    line-height: 24px;
  }

  .divider {
    left: calc(50%);
    transform: translate(-50%, -50%) rotate(180deg);
  }

  .jobs {
    margin-top: 40px;

    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .list {
      max-width: 100%;
    }
  }
}

.techs {
  width: 100%;
  margin-top: 40px;
}

.texts {
  display: flex;
  gap: 20px;
}

.textsDivider {
  height: auto;
  width: 2px;
  background-color: black;
}
